@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Installer Efficency</div>
    <div class="panel-body">
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                <div class="form-group">
                    @Html.TextBox("txtDate", "", new { @class = "form-control input-md datePickercontrol", @required = "required", placeholder = "--Select Date--" })
                    <br />
                    @Html.DropDownList("ddlCountry", (SelectList)ViewBag.CountryList, new { @class = "form-control", @required = "required" })
                    <br />
                    @Html.DropDownList("ddlRefer", (SelectList)ViewBag.Refer , new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="panel-body col-md-4">
                <br />
                <br />
                <br />
                <input type="submit" name="name" value="Calculate" class="btn btn-primary" />

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Install Efficiency", new { @class = "form-control input-md" })
               
                @Html.Label("Evaluates the install efficiency of installer on a particular day in a country", new { @class = "form-control smtext", style="height:45px" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.InstallEfficiency)

            </div>
        </div>

    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">Metrics</div>
    <div class="panel-body">
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Install Per Download", new { @class = "form-control input-md" })
                
                @Html.Label("(Install/Download)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.InstallPerDownload)

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Install Per Visit", new { @class = "form-control input-md" })
               
                @Html.Label("(Install/LandingPage)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.DownloadPerLP)

            </div>
        </div>

        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Success Per Install", new { @class = "form-control input-md" })
                
                @Html.Label("(InstallSucess/InstallStart)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.SuccessPerInstall)

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Success Per Download", new { @class = "form-control input-md" })
               
                @Html.Label("(InstallSucess/Download)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.SuccessPerDownload)

            </div>
        </div>

        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Sucess Per Visit", new { @class = "form-control input-md" })
               
                @Html.Label("(InstallSuccess/LP)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.SuccessPerVisit)

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Failure Per Install", new { @class = "form-control input-md" })
               
                @Html.Label("(InstallFail/Install)*100", new { @class = "form-control smtext" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Raw((String)ViewBag.FailurePerInstall)

            </div>
        </div>
    </div>
</div>

<style>
    .right-lable {
        text-align: right;
    }

    .smtext {
        font-size: 12px;
        font-style: italic;
    }
</style>
