@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Installer Efficency</div>
    <div class="panel-body">
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                <div class="form-group">
                    @Html.TextBox("txtDate", "", new { @class = "form-control input-md datePickercontrol", @required = "required", placeholder = "--Select Date--" })
                    <br />
                    @Html.DropDownList("ddlCountry", (SelectList)ViewBag.CountryList, new { @class = "form-control input-md", @required = "required" })
                </div>
            </div>
            <div class="panel-body col-md-4">
                <br />
                <input type="submit" name="name" value="Calculate" class="btn btn-primary" />

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>

    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">Metrics</div>
    <div class="panel-body">
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>

        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>

        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="panel panel-default col-md-5">
            <div class="panel-body col-md-8">
                @Html.Label("Metrices Name", new { @class = "form-control input-md" })
                <br />
                @Html.Label("Metric Info/ Formula", new { @class = "form-control input-md" })
            </div>
            <div class="panel-body col-md-4">
                <br />
                @Html.Label("Metric Value", new { @class = "form-control input-md" })

            </div>
        </div>
    </div>
</div>

<style>
    .right-lable {
        text-align: right;
    }
</style>
