<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* @Styles.Render("~/Content/css");*@

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/Bootstrap/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/Bootstrap/moment-with-locales.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap-datetimepicker.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vidsoom</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Third Part Application <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "ThirdPartyApplication")">Add Application</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "ThirdPartyApplication")">List Of Application</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Revenue <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Add", "Revenue")">Add Revenue</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "Revenue")">List Of Revenue</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Report <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Installer", "Report")">Installer</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("App", "Report")">Applications</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "MetricAndEfficency")">Metrics</a></li>

                        </ul>
                    </li>
                    <li><a href="@Url.Action("LogOff", "User")">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @*   @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function myfunction() {
            $(".datePickercontrol")
               .datetimepicker({
                   format: 'MM/DD/YYYY'
               })
        });

    </script>
</body>
</html>
