@model IEnumerable<MagnoMedia.Data.Models.SearchResult>
    @{
        ViewBag.Title = "Installer Report";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        .no-gutter > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    </style>

    @using (Html.BeginForm("Installer", "Report", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">Installer Installation Report  </div>

                <div class="clearfix"></div>

                <div class="panel-body">

                    <div class="row no-gutter ">

                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("StatusId", (SelectList)ViewBag.status, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                          <div class="col-xs-4">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">
                                    Referer
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ReferId", (SelectList)ViewBag.Refer, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("CountryId", (SelectList)ViewBag.country, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label for="inputEmail3" class="col-sm-6 control-label">Start Date</label>
                            <div class="col-sm-6 no-gutter">

                                <div class="form-group no-gutter">
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.TextBox("_startdate", ViewBag.startdate as string, new { @class = "form-control", @required = "required", data_date_format = "DD/MMM/YYYY" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label for="inputEmail3" class="col-sm-6 control-label">End Date</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker2'>
                                        @Html.TextBox("_enddate", ViewBag.enddate as string, new { @class = "form-control", @required = "required", data_date_format = "DD/MMM/YYYY" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker2').datetimepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="col-xs-1" style="margin-left: 20px;">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>


                        @*<div class="alert" role="alert" id="Alertmessage" runat="server" visible="false"></div>*@
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    Report Details
                    <div class="clearfix"></div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Status</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null || Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="5"> No Records Found</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {


                                <tr>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => item.Country)</td>
                                    <td>@Html.DisplayFor(modelItem => item._UserTrackState)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Count)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
}
